<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Avisos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="post" *ngFor="let post of arrayPosts">
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text"> {{post.aviso}}</p>
        <button style="background-color:yellowgreen;" (click)="editPost(post)">Editar</button>
        <button style="background-color:red;" (click)="deletePost(post.id)">Eliminar</button>
      </div>
      <div class="card-footer">{{post.fecha.split('T')[0]}}</div>
    </div>
  </div>
  
</ion-content>
